<div class='task-page'>
  <div class='container-page'>
    <div class='row'>
      <div class="col-md-6 offset-md-3 col-xs-12">
        <div class="list-group" >
          <a href="#" class="list-group-item">
            Task description
          </a>
          <a href="#" class="list-group-item" ng-repeat="task in $ctrl.tasks">
            {{task.description}}
          </a>
        </div>
        <button type='button' class='btn btn-outline-primary'><i class="fa fa-plus fa-lg"></i></button>
        <div class='col-lg-6'>
          <div class='input-group'>
            <input type='text' class='form-control' placeholder="Task description..." ng-model="$ctrl.description"/>
            <span class='input-group-btn'>
            <button class='btn btn-secondary' type='button' ng-click="$ctrl.saveTask()">Save</button>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
